@media all and (max-width: 1000px){}

.table-responsive{
  
  width: au !important;
  width :auto;
  margin:5px;
  border:none;
}

/* .table > tbody > tr >td, .table > tbody >tr >th, .table >tfoot >tr >td, .table >tfoot > tr >th, .table > thead >tr>td, .table >thead >tr >th{
  padding: 2px;
  line-height: 1.42857143;
  vertical-align: top;
  /* border-top: none;
  border-bottom: none; 
  border-color: goldenrod;
} */
.table thead th  {
  vertical-align: bottom;
  border-bottom: 0px solid #dee2e6;
  border-top: 0px solid #dee2e6;
  border-radius: 7px;
}
tbody:before{
  content: "-";
  display: block;
  line-height: 0.5em;
  color: black;
  background: black;
  border: none;
}

th{
  text-align: center;
  background:rgba(255, 255, 255, 0.829);
  color: rgb(20, 63, 145);
  padding: 0px!important;
  font-size: 12px;
  text-transform: uppercase;
}
 .table tbody tr {
  border:1px solid  #635f5e;
 
}

 
.table{
  /* width:77%; */
  margin-bottom:2px;
  border-collapse: collapse;
   max-width : 0% !important; 

}
td{
 padding: 1px;
 border-color:10px solid#524b48f6;
}

td div 
{
  border-radius: 15px;
  border: grey;
 border-color: grey;
  padding-bottom : 6px;
}

.grey
{
  background: rgba(134, 118, 118, 0.651);
  padding:4px;
 color: rgba(80, 63, 63, 0.651);
 text-align: center;
}

.componentStyle
{
  padding: -22px ;
  border: 10px solid#524b48f6;
  color:white;
  border-radius:25px

}
.green{
  background: rgb(62, 175, 62);
  color:white;
padding:4px;
 text-align: center;
}
.red{
  background: rgb(240, 92, 92);
  color:white;
  padding:4px;
}

.black{
  background: rgba(97, 85, 85, 0.651);
  color:gold;
  text-align: center;
  padding:4px;
 
}
.purple{
  background: rgb(100, 15, 180);
 color:white;
 padding:4px;
}
.yellow{
  background: rgb(190, 168, 70);
  color:white;
}
.flex{
  display:flex;
 margin-left:0px;
  margin:10px;
}
#container{
  display: table
}

body{
  background-color: black;
  
}

/* .sidetext{
  writing-mode: vertical-rl;
  text-align: center;
  height: inherit;
  width: 23px;
  color: #fff;
  font-size: 18px;
  vertical-align: middle
} */
/* .sidetext2{
  writing-mode: vertical-rl;
  text-align: center;
  height: inherit;
  width: 23px;
  color: #fff;
  font-size: 18px;
  vertical-align: middle
} */
.topHeading{
   color: white;
  text-align: center;
  font-size: 12px;
 
}
.heading2{
  background-color: burlywood;
  color: white;
  text-align: center;
  font-size: 12px;
}

/* @media screen and (max-width: 767px){
.table-responsive{
 width: 100%;
 margin-bottom:15px;
 overflow-y: hidden;
 -ms-overflow-style: -ms-autohiding-scrollbar;
 border: none !important
}}  */

.row {
   display: flex;
   flex-wrap: wrap;
   margin-right: -2px;
   margin-left: 20px;
  
} 

/* tbody tr:nth-child(1n+0) td:nth-child(1){
    border-radius: 1.6em 0 0 1.6em;
    }
    tbody tr:nth-child(1n+0) td:nth-child(5){
    border-radius: 0 1.6em 1.6em 0;
    }
    .rectangle{
    border-radius: 50%;
    width:10px;
    height:10px;
    }  */
/* .table th {
padding: -358.25rem;
vertical-align: top;
border-top: 1px solid #dee2e6;
}*/
.div:empty{
background-color:grey;
}  