<div class="container">
    <div class="row">
        <div class="column">
  <div>
    <div *ngIf="table1">
      <h1>COMPONENT 1</h1>
      <table class="table table-hover">
        <thead>
          <tr>

          </tr>
        </thead>
        <tbody *ngFor="let item of table1">
          <tr>
            <td><div class="green">{{item.one}}</div></td>
            <td><div class="red">{{item.two}}</div></td>
            <td><div class="black">{{item.three}}</div></td>
          </tr>
          
        </tbody>
      </table>
    </div>
    <div  *ngIf="table2">
      <h1>COMPONENT 2</h1>
      <table class="table table-hover">
        <thead>
          <tr>

          </tr>
        </thead>
        <tbody *ngFor="let item of table2">
            <tr>
              <td><div class="green">{{item.one}}</div></td>
              <td><div class="red">{{item.two}}</div></td>
              <td><div class="black">{{item.three}}</div></td>
            </tr>
            
          </tbody>
      </table>
    </div>
  </div>

  <div>
      <div *ngIf="table3">
          <h1>COMPONENT 3</h1>
          <table class="table table-hover">
            <thead>
              <tr>
    
              </tr>
            </thead>
            <tbody *ngFor="let item of table3">
                <tr>
                  <td><div class="green">{{item.one}}</div></td>
                  <td><div class="red">{{item.two}}</div></td>
                  <td><div class="black">{{item.three}}</div></td>
                </tr>
                
              </tbody>
          </table>
        </div>
        <div *ngIf="table4">
            <h1>COMPONENT 4</h1>
            <table class="table table-hover">
              <thead>
                <tr>
      
                </tr>
              </thead>
              <tbody *ngFor="let item of table4">
                  <tr>
                    <td><div class="green">{{item.one}}</div></td>
                    <td><div class="red">{{item.two}}</div></td>
                    <td><div class="black">{{item.three}}</div></td>
                  </tr>
                  
                </tbody>
            </table>
          </div>
    </div>

  </div>
  <div class="column"><fusioncharts width="700" height="700" type="mscolumn2d" [dataFormat]="dataFormat" [dataSource]="dataSource">
    </fusioncharts></div>
</div>

  
  

   




  <!-- <div class="row">

    <div *ngIf="table5">
      <h1>COMPONENT 5</h1>
      <table class="table table-hover">
        <thead>
          <tr>

          </tr>
        </thead>
        <tbody *ngFor="let item of table5">
            <tr>
              <td><div class="green">{{item.one}}</div></td>
              <td><div class="red">{{item.two}}</div></td>
              <td><div class="black">{{item.three}}</div></td>
            </tr>
            
          </tbody>
      </table>
    </div>
    <div>

    </div>
  </div> -->
  
  <div >
      <div>
        <input type="text" class="form-control" [(ngModel)]="id" />
      </div>
      DELETE
      <div>
        <button type="button" class="btn btn-default" (click)="deleteTable()">Submit</button>
      </div>
    </div>

  <div class="row">
    <div>
      <div class="form-group">
        <input type="text" value="correct value" [(ngModel)]="itemValue" name="itemValue" class="form-control is-valid" id="inputValid">
      </div>
    </div>
    ID CHECK
    <div>
      <button type="button" class="btn" (click)="submitId(item);">Submit!</button>
    </div>
  </div>
</div>