.delete{
    margin-top: 20px;
}



h1{
    
    background-color: rgb(75, 77, 99); /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
}


.green{
    background-color:  rgb(0, 255, 0);
    padding:4px;
    width: 29px;
    height: 34px;
    border: -5px solid;
    color:white;
}

.red{
    background-color:  rgb(255, 0, 0);
    padding:6px;
    width: 29px;
    height: 34px;
    color:white;

}

.black{
    background-color:  rgb(0, 0, 0);
    padding:6px;
    width: 29px;
    height: 34px; 
    color:white;  
}
 div:empty{
     display:none;
 }
 .container{


    /* margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 20px; */
 }
 .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 16px;
}
